.spacer td {
	padding-top: 20px;
}

.row {
	font-size: 12px;
}

.content-box {
	border: solid 2px #000;
	margin:20px 0 !important;
}

.spacer-top--20 {
	margin-top: 20px;
}

.spacer-top--60 {
	margin-top: 60px;
}